.header-bar {
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #111;
  border-bottom: 1px solid #222;
}

.header-title {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
